@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgba(33, 205, 170, 1);
  --secondary-color: #585858;
  --heading-color: #09657b;
  --input-bg: 133, 150, 167;
  --main-font: 'Montserrat', sans-serif;
  --heading-font: 'Raleway', sans-serif;
  --border-radius: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.slick-prev:before,
.slick-next:before {
  font-size: 50px;
  line-height: 1;
  color: var(--primary-color);
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
  content: "‹";
}

.slick-next:before {
  content: "›";
}
