@import "tailwindcss";
@import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
