.headerBG {
    background: #F5F8F9;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    height: 80vh;
    z-index: 0;
    min-height: 600px;
    border-radius: 0 0 0 20px;
}

.navLink {
    font-weight: 500;
    font-size: 16px;
    color: #626262;
    &::after {
        content: "";
        clear: both;
        display: block;

        height: 2px;
        width: 0;
        margin-bottom: 10px;
        transition: all 0.3s ease-in;
    }

    &:hover {
        color: var(--primary-color);
    }

    &:hover:after {
        width: 15px;
    }
}

.navActive {
    color: var(--primary-color);
    &::after {
        width: 15px;
    }
}
